body {
  margin: 0;
  font-family: var(--font-geist-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg,rgba(41, 106, 186, 1) 0%, rgba(184, 72, 212, 1) 60%, rgba(57, 24, 163, 1) 100%); /* New blue-purple-dark purple gradient */
  color: #ffffff; /* White text */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}